{% load static %}

      
{% include "scripts.html" %}
   {% include "navbar.html" %}
         <div class="wrapper-main">
            <div class="marketing-lead">
               <h1>Marketing Services</h1>
               <a class="marketing-lead-credit" target="_blank" href="../artwork/E2Axq.html">Artwork by Tyler edlin</a>
            </div>
            <div class="container">
               <div class="row">
                  <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                     <p class="lead">ArtStation is the leading industry hub for professional games, film, media & entertainment art with millions of people using the platform.</p>
                     <p class="lead">Our combination of content, community and social media marketing creates buzz and engagement, converting into leads and sales. We work with companies to achieve business objectives through our relationship with the professional art community.</p>
                     <p class="lead text-center"><a class="btn btn-success btn-lg text-uppercase scrolltoel" href="#contact">Contact us</a></p>
                     <p class="lead">ArtStation enables companies to launch and promote products to the world’s largest and most relevant community of professional and aspiring artists.</p>
                  </div>
                  <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
                     <div class="separator-sm"></div>
                     <div class="marketing-counters">
                        <a target="_blank" class="marketing-counter fb" href="https://facebook.com/artstationhq">
                           <span class="fab fa-facebook"></span>
                           <div class="marketing-counter-inner">
                              <div class="marketing-counter-count">311,000+</div>
                              Facebook Fans 
                           </div>
                        </a>
                        <a target="_blank" class="marketing-counter tw" href="https://twitter.com/ArtStationHQ">
                           <span class="fab fa-twitter"></span>
                           <div class="marketing-counter-inner">
                              <div class="marketing-counter-count">117,000+</div>
                              Followers 
                           </div>
                        </a>
                        <a target="_blank" class="marketing-counter ins" href="https://instagram.com/artstationhq/">
                           <span class="fab fa-instagram"></span>
                           <div class="marketing-counter-inner">
                              <div class="marketing-counter-count">469,000+</div>
                              Instagram Followers 
                           </div>
                        </a>
                     </div>
                  </div>
                  <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                     <p class="lead">We can work with your company to achieve its business objectives by leveraging our relationship with the community in unique and creative ways:</p>
                  </div>
               </div>
               <div class="feature-testimonials hidden-xs">
                  <div class="feature-testimonial">
                     <div class="feature-testimonial-text">“Advertising on ArtStation is a no-brainer for us. Not only is it the go-to website for all digital artists, advertising on ArtStation pays for itself in terms of ROI and awareness.”</div>
                     <div class="feature-testimonial-photo text-center"><img width="60" height="60" alt="" class="img-circle" src="{% static 'assets/about/alexis-khouri-04a7d398e5d4f7b1d1fc357f25ba09d7.jpg' %}" /></div>
                     <div class="feature-testimonial-author text-center">Alexis Khouri</div>
                     <div class="text-muted text-center">Executive Vice President, Allegorithmic</div>
                  </div>
                  <div class="feature-testimonial">
                     <div class="feature-testimonial-text">“Advertising with ArtStation and working with their dedicated team has been a fantastic experience. For us there is no better way to connect with our target audience and the traffic we received was of the highest quality.”</div>
                     <div class="feature-testimonial-photo text-center"><img width="60" height="60" alt="" class="img-circle" src="{% static 'assets/about/james-busby-87ad701ef05c304e1993b333b8808b00.jpg' %}" /></div>
                     <div class="feature-testimonial-author text-center">James Busby</div>
                     <div class="text-muted text-center">Ten24 Media</div>
                  </div>
               </div>
            </div>
            <div class="overflow-hidden">
               <div class="container">
                  <div class="single-text">
                     <h2 class="h1">Services</h2>
                  </div>
                  <div class="row marketing-feature">
                     <div class="col-sm-4 left">
                        <h2 class="mb10">Content</h2>
                        <h3 class="mb15 text-muted">Build an effective story around your product</h3>
                        <p>ArtStation comes alongside your marketing efforts, working with you to create a content strategy that is beneficial to the community and that drives positive results.</p>
                        <div class="marketing-feature-item"><span class="icon far fa-star"></span><span>Featured community content</span></div>
                     </div>
                     <div class="col-sm-8 right"><img width="1137" height="823" alt="" class="img pull-left hidden-xs" src="{% static 'assets/about/marketing-services-0ae517f118a4aaa627542f3ac703fa8b.png' %}" /><img alt="" class="img-responsive visible-xs" height="247" srcset="/assets/about/marketing-services-xs-8b6c887ecec1ff64f5af3ec6e3acf4a0.png 1x, /assets/about/marketing-services-xs@2x-fab5a2bc61f8c8877066da124091e9c7.png 2x" width="346" /></div>
                  </div>
                  <div class="row marketing-feature marketing-feature-reverse">
                     <div class="col-sm-8 right"><img width="1022" height="621" alt="" class="img pull-right hidden-xs" src="{% static 'assets/about/marketing-placements-6e4bf790f563a41d6ef892648f003b62.png' %}" /><img alt="" class="img-responsive visible-xs" height="247" srcset="/assets/about/marketing-placements-xs-8da2bb4faeb0c2cf607f75cfa05a9581.png 1x, /assets/about/marketing-placements-xs@2x-921a89bb275653904843948a3bdaee7a.png 2x" width="346" /></div>
                     <div class="col-sm-4 left">
                        <h2 class="mb10">Placements</h2>
                        <h3 class="mb15 text-muted">Be visible throughout the community</h3>
                        <p>ArtStation helps your company be visible to the community via placements on the website and emails.</p>
                        <div class="marketing-feature-item"><span class="icon far fa-bullhorn"></span><span>On-site placement to millions of users</span></div>
                        <div class="marketing-feature-item"><span class="icon icomoon icon-ablocker"></span><span>Adblocker friendly</span></div>
                        <div class="marketing-feature-item"><span class="icon far fa-inbox"></span><span>Newsletter placements</span></div>
                     </div>
                  </div>
                  <div class="row marketing-feature">
                     <div class="col-sm-4 right">
                        <h2 class="mb10">Contests</h2>
                        <h3 class="mb15 text-muted">The world’s largest art contests</h3>
                        <p>ArtStation runs online Challenges that enable companies to engage the community.<br>We work with companies to craft the right challenges that help achieve strategic business objectives.</p>
                        <div class="marketing-feature-item"><span class="icon far fa-users"></span><span>Epic art challenges</span></div>
                     </div>
                     <div class="col-sm-8 left"><img width="1137" height="834" alt="" class="img pull-left hidden-xs" src="{% static 'assets/about/marketing-contests-71232e9d740c2ce82cf7f64bf066998a.png' %}" /><img alt="" class="img-responsive visible-xs" height="247" srcset="/assets/about/marketing-contests-xs-ef58839884847f42c11169a127e5aea1.png 1x, /assets/about/marketing-contests-xs@2x-e54afb124069ce306ed00c8599d83a67.png 2x" width="346" /></div>
                  </div>
                  <div class="marketing-used">
                     <h2 class="mb10 text-center"><strong>You’re in good company</strong></h2>
                     <p class="lead text-center">We’ve helped dozens of companies in Media & Entertainment art.</p>
                     <div class="marketing-used-grid">
                        <div class="marketing-used-item"><img alt="" src="{% static 'assets/about/logos/logo-autodesk-2df4dcf612c6b3833ee18b84e6968dc5.png' %}" /></div>
                        <div class="marketing-used-item"><img alt="" src="{% static 'assets/about/logos/logo-gnomon-4f8e2cccd72eb157fd048396adff37af.png' %}" /></div>
                        <div class="marketing-used-item"><img alt="" src="{% static 'assets/about/logos/logo-gnomon-workshop-6cd1cd1877b9a81740963dcf1fb5091e.png' %}" /></div>
                        <div class="marketing-used-item"><img alt="" src="{% static 'assets/about/logos/logo-sketchfab-365a2dfa0dafe3677cb26c7a7c49050b.png' %}" /></div>
                        <div class="marketing-used-item"><img alt="" src="{% static 'assets/about/logos/logo-marmoset-35fb7755356b07e98c5b308eefc80002.png' %}" /></div>
                        <div class="marketing-used-item"><img alt="" src="{% static 'assets/about/logos/logo-quixel-b479e14e1d72ce2f41facec524913a93.png' %}" /></div>
                        <div class="marketing-used-item"><img alt="" src="{% static 'assets/about/logos/logo-wacom-80519e930a5c8069d5ffadb39ba0053a.png' %}" /></div>
                        <div class="marketing-used-item"><img alt="" src="{% static 'assets/about/logos/logo-allegorithmic-4a12c2c2e8c8c1767a24c8b072c88b96.png' %}" /></div>
                        <div class="marketing-used-item"><img alt="" src="{% static 'assets/about/logos/logo-choasgroup-0d4492b8c4931af774d0e0c819ada277.png' %}" /></div>
                        <div class="marketing-used-item"><img alt="" src="{% static 'assets/about/logos/logo-eonsoftware-6fb4ec3631ae89407ada944582a958ff.png' %}" /></div>
                        <div class="marketing-used-item"><img alt="" src="{% static 'assets/about/logos/logo-synstudio-e167df7c18483a356fa8b0e7c4fc8ead.png' %}" /></div>
                        <div class="marketing-used-item"><img alt="" src="{% static 'assets/about/logos/logo-maxon-1e02e861b7331608cbe7b84282e80c20.png' %}" /></div>
                        <div class="marketing-used-item"><img alt="" src="{% static 'assets/about/logos/logo-pixologic-088213be59bb8c7b14a71540f59d762c.png' %}" /></div>
                        <div class="marketing-used-item"><img alt="" src="{% static 'assets/about/logos/logo-nvidia-61f1afdbc7809b70dcf2699e126b6da8.png' %}" /></div>
                        <div class="marketing-used-item"><img alt="" src="{% static 'assets/about/logos/logo-talentree-cafa3b6b1e9e237018c9aa869738c1bf.png' %}" /></div>
                        <div class="marketing-used-item"><img alt="" src="{% static 'assets/about/logos/logo-thinktank-89162f41a013dca524a0641b7384c8d0.png' %}" /></div>
                        <div class="marketing-used-item"><img alt="" src="{% static 'assets/about/logos/logo-chameleonpens-228226ba8d0975e549080b39c1f05fec.png' %}" /></div>
                        <div class="marketing-used-item"><img alt="" src="{% static 'assets/about/logos/logo-cgspectrum-9cde6def1e6f5517dc57384a8393fbe5.png' %}" /></div>
                        <div class="marketing-used-item"><img alt="" src="{% static 'assets/about/logos/logo-ten24-b270f7f84fc3cdc43f1373aeaa375630.png' %}" /></div>
                        <div class="marketing-used-item"><img alt="" src="{% static 'assets/about/logos/logo-atomhawk-a455b8d23ec7a215719fb1a52dfad671.png' %}" /></div>
                        <div class="marketing-used-item"><img alt="" src="{% static 'assets/about/logos/logo-turbosquid-c3e10e8280083abbd619231112128428.png' %}" /></div>
                     </div>
                  </div>
                  <div class="marketing-contact" id="contact">
                     <h2 class="mb10 text-center"><strong>Contact</strong></h2>
                     <p class="lead text-center">For more information, please contact Stephanie Hayot.</p>
                     <div class="row">
                        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
                           <div class="marketing-form">
                              <div class="marketing-form-photo text-center"><img width="180" height="180" class="img-circle" alt="Stephanie Hayot" src="{% static 'assets/about/photo-stephanie-fc9c175276891b3bff39e3ce11f7cc54.jpg' %}" /></div>
                              <h3 class="text-center">Stephanie Hayot</h3>
                              <div class="marketing-form-position text-muted text-center">Marketing Services</div>
                              <div class="text-center"><a href="mailto:advertise@artstation.com"><span class="far fa-envelope fa-pad-right"></span>advertise@artstation.com </a></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="separator"></div>
            <div class="separator-lg"></div>
         </div>
      </div>
     {% include "footer.html" %}