{% load static %}


 {% include "script.html" %}
{% include "navbar.html" %}

         <div class="wrapper-main">
            <div class="about-page">
               <div class="about-intro d-flex flex-column align-items-center justify-content-center text-center index">
                  <div class="about-quote"><span class="about-quote-symbol">&ldquo;</span> Your portfolio needs to be on&nbsp;Resbrotherx <span class="about-quote-symbol">&bdquo;</span></div>
                  <div class="about-quote-author"><span class="font-weight-medium">Tim Simpson</span> &mdash; Senior Environment Artist @ Ubisoft Montreal</div>
                  <a class="about-intro-video" data-featherlight="#about-video" data-featherlight-variant="about-modal-video" href="https://player.vimeo.com/video/151825486?title=0&amp;byline=0&amp;portrait=0"><img width="255" height="145" alt="" class="about-intro-video-placeholder img-responsive" src="{% static 'assets/marketing/about/overview/video-placeholder-32b90350c5129bd52ae6bdacff915c75.jpg' %}" /><img width="50" height="50" alt="" class="about-intro-video-btn" src="{% static 'assets/marketing/about/overview/icon-play-aa8694393c5a694fc9140f18264a74b1.svg' %}" /></a>
                  <div class="about-intro-credit"><a class="about-intro-credit-link" target="_blank" href="raphael-lacoste.html">Artwork by Raphael Lacoste</a></div>
               </div>
               <div class="about-nav-wrap sticky-block">
                  <div class="about-nav">
                     <div class="about-nav-title">For Artists</div>
                     <div class="sub-nav mb0">
                        <div class="btn-group"><a class="btn btn-default active" href="/about">Overview</a><a class="btn btn-default" href="/portfolio">Portfolio</a><a class="btn btn-default" href="/website-builder">Website Builder</a><a class="btn btn-default" href="/sell-goods">Sell Goods</a><a class="btn btn-default" href="/learning">Learning</a></div>
                     </div>
                     <div class="about-nav-start"><a class="btn btn-primary text-uppercase scrolltoel" href="#plans">Get Started</a></div>
                  </div>
               </div>
               <div class="hide">
                  <div id="about-video">
                     <div class="embed-responsive embed-responsive-16by9"><iframe src="https://player.vimeo.com/video/151825486?title=0&amp;byline=0&amp;portrait=0"></iframe></div>
                  </div>
               </div>
               <script>$(document).ready(function() {
                  var sticky = new Waypoint.Sticky({
                    element: $('.about-nav')[0],
                    offset: parseInt(getComputedStyle(document.documentElement).getPropertyValue('--main-menu-level-1-height'))
                  });
                  
                  });
               </script>
               <div class="about-page-content">
                  <div class="container">
                     <div class="about-grid about-grid-reverse">
                        <div class="about-grid-head">
                           <h2 class="h1">Showcase your portfolio</h2>
                        </div>
                        <div class="about-grid-media">
                           <div class="trigger-slider slick-flex">
                              <div><img class="img-responsive about-img-rounded about-skew" src="{% static 'assets/marketing/about/overview/showcase-1-f887f37058ff0406b8768240cbc2743c.jpg' %}" alt="Showcase 1" /></div>
                              <div><img class="img-responsive about-img-rounded about-skew" src="{% static 'assets/marketing/about/overview/showcase-2-5eecf286aca45d60454b9e9da7166824.jpg' %}" alt="Showcase 2" /></div>
                              <div><img class="img-responsive about-img-rounded about-skew" src="{% static 'assets/marketing/about/overview/showcase-3-aca24f34ae83c5ae98e48f2b09b6e6f0.jpg' %}" alt="Showcase 3" /></div>
                           </div>
                           <div class="separator-lg visible-xs visible-sm"></div>
                        </div>
                        <div class="about-grid-body">
                           <p>Resbrotherx provides you with a simple, yet powerful way to <span class="text-white">show your portfolio</span> and be seen by the right people in the industry. It's super fast and sleek. Showcase high resolution images, videos, short clips, Marmoset and Sketchfab 3D scenes, 360 panos and more. Add your work and production experience.</p>
                           <p><span class="text-white">Blogs</span> enable you to share your work in progress, articles and be seen. Analytics lets you see who's checking out your portfolio. You can even sell your digital assets and prints.</p>
                           <div class="separator-sm"></div>
                           <div class="about-quote-block-wrap d-flex align-items-center align-items-sm-start flex-wrap">
                              <div class="about-quote-block-avatar order-2 order-sm-1"><img width="62" height="62" alt="Tiana Maros" class="img-circle" src="{% static 'assets/marketing/quotes/photo-tiana-c2dbd902aad0dda0c5380694e120793c.jpg' %}" /></div>
                              <div class="about-quote-block flex-shrink-1 flex-grow-0 order-1 order-sm-2">This is why Resbrotherx is so good [...] It already has everything for you. You can get a job, you can put your portfolio on there, you can connect with other people.</div>
                              <div class="about-quote-block-meta order-2 order-sm-3 flex-sm-grow-1">
                                 <div class="about-quote-block-author">Tiana Maros <span class="dark-badge">PRO</span></div>
                                 <div class="about-quote-block-position">2D & 3D Artist</div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="separator-lg"></div>
                     <div class="text-center"><a class="btn btn-default btn-lg about-btn-more" href="about/artists/portfolio.html">Check out Portfolio Features<i class="far fa-arrow-right fa-pad-left position-relative"></i></a></div>
                     <div class="about-page-separate"></div>
                     <div class="about-grid">
                        <div class="about-grid-head">
                           <h2 class="h1">Host your website</h2>
                        </div>
                        <div class="about-grid-media">
                           <div class="trigger-slider">
                              <div><img class="img-responsive about-img-rounded about-skew-reverse" src="{% static 'assets/marketing/about/overview/host-sidewinder-c2fa53024b18d6cdb7c981229fcf1371.jpg' %}" alt="Host sidewinder" /></div>
                              <div><img class="img-responsive about-img-rounded about-skew-reverse" src="{% static 'assets/marketing/about/overview/host-lava-c18cb5328eebab02d6209a208cf19d79.jpg' %}" alt="Host lava" /></div>
                              <div><img class="img-responsive about-img-rounded about-skew-reverse" src="{% static 'assets/marketing/about/overview/host-insta-6a20316aa0396160450c23841bf891f2.jpg' %}" alt="Host insta" /></div>
                              <div><img class="img-responsive about-img-rounded about-skew-reverse" src="{% static 'assets/marketing/about/overview/host-vertical-9636ed24f4866b61ae0ecdd3bb3f9b87.jpg' %}" alt="Host vertical" /></div>
                           </div>
                           <div class="separator-lg visible-xs visible-sm"></div>
                        </div>
                        <div class="about-grid-body">
                           <p>Resbrotherx gives you a beautiful portfolio website! And because it&#39;s integrated fully into Resbrotherx, you don&#39;t have to worry about keeping it updated. As you post artwork, it will automatically post to your site.</p>
                           <div class="separator-xs"></div>
                           <p class="text-lighter d-flex align-items-center"><span class="about-icon flex-shrink-0"><i class="far fa-globe"></i></span>Your own portfolio website</p>
                           <div class="separator-sm"></div>
                           <p class="text-lighter d-flex align-items-center"><span class="about-icon flex-shrink-0"><i class="far fa-search"></i><i class="about-icon-inner-w">w</i></span>Custom domain name with HTTPS</p>
                           <div class="separator-sm"></div>
                           <p class="text-lighter d-flex align-items-center"><span class="about-icon flex-shrink-0"><i class="far fa-paint-brush"></i></span>Beautiful themes to show off your work</p>
                           <div class="separator-sm"></div>
                           <p class="text-lighter d-flex align-items-center"><span class="about-icon flex-shrink-0"><i class="far fa-donate"></i></span>Sell your digital goods</p>
                           <div class="separator-sm"></div>
                           <p class="text-lighter d-flex align-items-center"><span class="about-icon flex-shrink-0"><i class="far fa-box-usd"></i></span><span class="about-icon-text">Sell your prints</span></p>
                        </div>
                     </div>
                     <div class="separator-lg"></div>
                     <div class="text-center"><a class="btn btn-default btn-lg about-btn-more" href="about/artists/website-builder.html">Check out Website Builder Features<i class="far fa-arrow-right fa-pad-left position-relative"></i></a></div>
                     <div class="about-page-separate"></div>
                     <div class="about-grid about-grid-reverse">
                        <div class="about-grid-head">
                           <h2 class="h1">Be seen by the right&nbsp;people</h2>
                        </div>
                        <div class="about-grid-media">
                           <div class="row">
                              <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
                                 <div class="about-searchable-image"><img alt="" class="about-searchable-image-main img-responsive" src="{% static 'assets/marketing/about/portfolio/searchable-1-6947e1cf3a5756bd6d556456d3a7bf23.png' %}" /><img alt="" class="about-searchable-image-card img-responsive" src="{% static 'assets/marketing/about/portfolio/searchable-2-01fc6299fab8e622ee355f935bdc300c.png' %}" /></div>
                              </div>
                           </div>
                           <div class="separator-lg visible-xs visible-sm"></div>
                        </div>
                        <div class="about-grid-body">
                           <p>Most recruiters in the industry are telling artists to send them their Resbrotherx. It&#39;s standard. When it&#39;s on Resbrotherx, recruiters can quickly find and contact you.</p>
                           <div class="separator"></div>
                           <div class="about-quote-block-wrap d-flex align-items-center align-items-sm-start flex-wrap">
                              <div class="about-quote-block-avatar order-2 order-sm-1"><img width="62" height="62" alt="Gavin Goulden" class="img-circle" src="{% static 'assets/marketing/quotes/photo-gavin-ba5430909b1fd1467e95e4156f8a2446.jpg' %}" /></div>
                              <div class="about-quote-block flex-shrink-1 flex-grow-0 order-1 order-sm-2">Use Resbrotherx to host your portfolio. It’s inexpensive, standardized, widely common in the industry, searchable, clean, and easy to use.</div>
                              <div class="about-quote-block-meta order-2 order-sm-3 flex-sm-grow-1">
                                 <div class="about-quote-block-author">Gavin Goulden <span class="dark-badge">PRO</span></div>
                                 <div class="about-quote-block-position">Lead Character Artist at Insomniac Games</div>
                              </div>
                           </div>
                           <div class="separator"></div>
                           <div class="separator"></div>
                           <div class="about-quote-block-wrap d-flex align-items-center align-items-sm-start flex-wrap">
                              <div class="about-quote-block-avatar order-2 order-sm-1"><img width="62" height="62" alt="Jack Coleman" class="img-circle" src="{% static 'assets/marketing/quotes/photo-jack-6f14073b3fd94fea6414865b3c9f0593.png' %}" /></div>
                              <div class="about-quote-block flex-shrink-1 flex-grow-0 order-1 order-sm-2">Resbrotherx is the new standard for what a contemporary portfolio looks like in the entertainment industry.</div>
                              <div class="about-quote-block-meta order-2 order-sm-3 flex-sm-grow-1">
                                 <div class="about-quote-block-author">Jack Coleman <span class="dark-badge">PRO</span></div>
                                 <div class="about-quote-block-position">Senior Recruiter</div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="about-page-separate"></div>
                     <div class="about-grid">
                        <div class="about-grid-head">
                           <h2 class="h1">
                              <div class="smaller text-primary font-weight-bolder">New</div>
                              Sell your Products
                           </h2>
                        </div>
                        <div class="about-grid-media">
                           <div class="trigger-slider">
                              <div><img class="img-responsive about-img-rounded about-skew-reverse" src="{% static 'assets/marketing/about/overview/sell-1-97c1650bc42b676b04f797e2abdacc74.jpg' %}" alt="Sell 1" /></div>
                              <div><img class="img-responsive about-img-rounded about-skew-reverse" src="{% static 'assets/marketing/about/overview/sell-2-9e499fae0776c6cbce80cd5d5e49a4d1.png' %}" alt="Sell 2" /></div>
                           </div>
                           <div class="separator-lg visible-xs visible-sm"></div>
                        </div>
                        <div class="about-grid-body">
                           <p class="text-white d-flex align-items-center"><span class="about-icon flex-shrink-0"><i class="far fa-box-usd"></i></span><span class="about-icon-text">Sell your prints</span></p>
                           <p>With Resbrotherx Prints, you can be sure you’re selling high-quality products on demand, without the hassle. Just upload your work, set your markup and you’re ready to start selling. We take care of everything else.</p>
                           <div class="separator"></div>
                           <p class="text-white d-flex align-items-center"><span class="about-icon flex-shrink-0"><i class="far fa-donate"></i></span><span class="about-icon-text">Sell your digital goods</span></p>
                           <p>With just a few clicks, you can upload your digital products: models, brushes, tutorials, reference packs, assets and more. Your product is promoted via the Resbrotherx community and is also available to buy directly via your website. Keep up to 95% of revenue <a href="about/artists/sell-goods.html">(more info)</a>.</p>
                           <p>Money is directly wired to your bank account in over 220+ countries worldwide!</p>
                           <div class="separator"></div>
                           <div class="about-quote-block-wrap d-flex align-items-center align-items-sm-start flex-wrap">
                              <div class="about-quote-block-avatar order-2 order-sm-1"><img width="62" height="62" alt="Jonas Ronnegard" class="img-circle" src="{% static 'assets/marketing/quotes/photo-jonas-5b6993f22d01799da807d1181ec59b64.jpg' %}" /></div>
                              <div class="about-quote-block flex-shrink-1 flex-grow-0 order-1 order-sm-2">Resbrotherx already had the perfect demographic of people for my type of products coming to their site daily, so it was a no brainer for me to join.</div>
                              <div class="about-quote-block-meta order-2 order-sm-3 flex-sm-grow-1">
                                 <div class="about-quote-block-author">Jonas Ronnegard <span class="dark-badge">PRO</span></div>
                                 <div class="about-quote-block-position">Freeland 3D Artist & Resource Creator</div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="separator-lg"></div>
                     <div class="text-center">
                        <a class="btn btn-default btn-lg about-btn-more" href="about/artists/sell-goods.html">Check out Selling Features<i class="far fa-arrow-right fa-pad-left position-relative"></i></a>
                        <div class="separator visible-xs"></div>
                     </div>
                     <div class="about-page-separate"></div>
                     <div class="about-grid about-grid-reverse">
                        <div class="about-grid-head">
                           <h2 class="h1">Grow and thrive as an&nbsp;artist</h2>
                        </div>
                        <div class="about-grid-media">
                           <div class="trigger-slider slider-flex">
                              <div class="position-relative"><img class="img-responsive about-img-rounded about-skew" src="{% static 'assets/marketing/about/overview/challenge-1-ecaa13a2f96168152bf01bd2622db024.jpg' %}" alt="Challenge 1" /><img class="about-grow-award" width="100" alt="" src="{% static 'assets/marketing/about/overview/challenge-award-first-2e02aad0e00b5a9e2af41eda1e0ab837.png' %}" /></div>
                              <div class="position-relative"><img class="img-responsive about-img-rounded about-skew" src="{% static 'assets/marketing/about/overview/challenge-2-175a16201db70b0860201073606ebe31.jpg' %}" alt="Challenge 2" /><img class="about-grow-award" width="100" alt="" src="{% static 'assets/marketing/about/overview/challenge-award-third-a7e10c47432236e197b5fbd6f026e708.png' %}" /></div>
                              <div class="position-relative"><img class="img-responsive about-img-rounded about-skew" src="{% static 'assets/marketing/about/overview/challenge-3-347c2e7556ff645226f9c82fa85c34e5.jpg' %}" alt="Challenge 3" /><img class="about-grow-award" width="100" alt="" src="{% static 'assets/marketing/about/overview/challenge-award-mention-453b99420275d7344a6c82f0552d7163.png' %}" /></div>
                              <div class="position-relative"><img class="img-responsive about-img-rounded about-skew" src="{% static 'assets/marketing/about/overview/challenge-4-bb5f062d18a74dd9ace17670dd59e99a.jpg' %}" alt="Challenge 4" /><img class="about-grow-award" width="100" alt="" src="{% static 'assets/marketing/about/overview/challenge-award-first-2e02aad0e00b5a9e2af41eda1e0ab837.png' %}" /></div>
                              <div class="position-relative"><img class="img-responsive about-img-rounded about-skew" src="{% static 'assets/marketing/about/overview/challenge-5-96d1acb5fcef4c8c7e25e04a63f15132.jpg' %}" alt="Challenge 5" /></div>
                           </div>
                           <div class="separator-lg visible-xs visible-sm"></div>
                        </div>
                        <div class="about-grid-body">
                           <div class="separator-xs"></div>
                           <p class="text-white d-flex align-items-center"><span class="about-icon flex-shrink-0"><i class="far fa-trophy-alt"></i></span>Challenges</p>
                           <p>Join the <a href="contests.html">Challenges</a>, friendly art competitions hosted by industry professionals giving feedback! Connect with other challengers in the spirit of learning and self-improvement. Create stunning new IPs that you own and further develop!</p>
                           <div class="separator"></div>
                           <p class="text-white d-flex align-items-center"><span class="about-icon flex-shrink-0"><i class="far fa-graduation-cap"></i></span>Learning</p>
                           <p>Resbrotherx <a href="learning.html">Learning</a> enables artists to learn from leading artists at their own pace. Get access to an ever growing library of content to bring your art to the next&nbsp;level.</p>
                        </div>
                     </div>
                     <div class="about-page-separate"></div>
                     <div class="about-grid">
                        <div class="about-grid-head">
                           <h2 class="h1">A community built for&nbsp;Artists</h2>
                        </div>
                        <div class="about-grid-media">
                           <div class="row">
                              <div class="col-xs-10 col-xs-offset-1"><img class="img-responsive" src="{% static 'assets/marketing/about/overview/support-edadc52614a4b318692124cbdd8fb29d.png' %}" alt="Support" /></div>
                           </div>
                           <div class="separator visible-xs visible-sm"></div>
                        </div>
                        <div class="about-grid-body">
                           <p>Resbrotherx is a community that was shaped with the goal of empowering artists and creating opportunities for success. It’s the place for artists to connect with each other and showcase their work with others.</p>
                           <div class="separator"></div>
                           <div class="about-quote-block-wrap d-flex align-items-center align-items-sm-start flex-wrap">
                              <div class="about-quote-block-avatar order-2 order-sm-1"><img width="62" height="62" alt="Milan Nikolic" src="{% static 'assets/marketing/quotes/photo-milan-ef6ece6e244fb96324efb1e333c108eb.png' %}" /></div>
                              <div class="about-quote-block flex-shrink-1 flex-grow-0 order-1 order-sm-2">The more you work and post, the more you get noticed by the community. Since I came to Resbrotherx, I’ve never changed my platform for jobs. The best thing is you don’t need to look for a job, usually clients find you.</div>
                              <div class="about-quote-block-meta order-2 order-sm-3 flex-sm-grow-1">
                                 <div class="about-quote-block-author">Milan Nikolic <span class="dark-badge">PRO</span></div>
                                 <div class="about-quote-block-position">Senior Concept Designer</div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="separator-lg hidden-xs hidden-sm"></div>
                  <div class="separator-lg hidden-xs hidden-sm" id="plans"></div>
                  <div class="separator-lg hidden-md"></div>
                  <div class="about-footer index">
                     <div class="container">
                        <div class="about-choose">
                           <div class="text-center">
                              <h2 class="h1 text-uppercase font-weight-bolder">Choose<br>your edition</h2>
                           </div>
                           <div class="d-flex justify-content-center">
                              <div class="col-lg-11">
                                 <div class="about-choose-plans">
                                    <div class="about-choose-plan about-choose-plan-free">
                                       <div class="about-choose-plan-header">
                                          <div class="about-pricing-amount">Free</div>
                                          <div class="separator-xs"></div>
                                          <div class="about-pricing-period font-weight-light">There will always be a free edition</div>
                                       </div>
                                       <div class="about-choose-plan-body d-flex flex-column">
                                          <ul class="list-unstyled mb0 flex-grow-1">
                                             <li><i class="far fa-check text-success"></i>Showcase your portfolio</li>
                                             <li class="d-flex">
                                                <i class="far fa-check text-success"></i>
                                                <span>
                                                   Sell digital products
                                                   <div class="small text-gray">Earn 70% of each sale</div>
                                                </span>
                                             </li>
                                             <li><i class="far fa-check text-success"></i>Sell Resbrotherx Prints</li>
                                             <li><i class="far fa-check text-success"></i>Basic free Website</li>
                                             <li><i class="far fa-check text-success"></i>Connect with job opportunities</li>
                                             <li><i class="far fa-check text-success"></i>Participate in epic art challenges</li>
                                          </ul>
                                          <div class="about-pricing-btn"><a class="btn btn-default btn-block" href="registration/signup.html">Sign up</a></div>
                                       </div>
                                    </div>
                                    <div class="about-choose-plan about-choose-plan-plus d-flex flex-column">
                                       <div class="about-choose-plan-header">
                                          <div class="plus-badge plus-badge-g pro-badge-xl">Plus</div>
                                          <div class="separator-xs"></div>
                                          <div>Starting at&nbsp;$6.99/mo</div>
                                       </div>
                                       <div class="about-choose-plan-body d-flex flex-column flex-grow-1">
                                          <ul class="list-unstyled mb0 flex-grow-1">
                                             <li><i class="far fa-check text-success"></i>Everything in Free</li>
                                             <li><i class="far fa-check text-success"></i>Unlimited access to Resbrotherx&nbsp;Learning</li>
                                             <li><i class="far fa-check text-success"></i>Your own website with customizable premium&nbsp;themes</li>
                                             <li><i class="far fa-check text-success"></i>Blogging</li>
                                             <li><i class="far fa-check text-success"></i>Priority support</li>
                                             <li><i class="far fa-check text-success"></i>Custom domain support</li>
                                             <li><i class="far fa-check text-success"></i>Redeem Partner Perks</li>
                                             <li><i class="far fa-check text-success"></i>Larger 3D file upload limit</li>
                                          </ul>
                                          <div class="about-pricing-btn">
                                             <a class="btn btn-default btn-premium-plan btn-lg btn-block text-uppercase" href="registration/signinfbdf.html?type=annual">Sign up</a>
                                             <div class="about-text-smaller text-light text-center">15-day money back guarantee</div>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="about-choose-plan d-flex flex-column">
                                       <div class="about-choose-plan-header">
                                          <div class="pro-badge pro-badge-g pro-badge-xl">PRO</div>
                                          <div class="separator-xs"></div>
                                          <div>Starting at&nbsp;$9.95/mo</div>
                                       </div>
                                       <div class="about-choose-plan-body d-flex flex-column flex-grow-1">
                                          <ul class="list-unstyled mb0 flex-grow-1">
                                             <li><i class="far fa-check text-success"></i>Everything in Plus</li>
                                             <li class="d-flex">
                                                <i class="far fa-check text-success"></i>
                                                <span>
                                                   Earn more selling digital products
                                                   <div class="small text-gray">Earn between 80 and 95% of each sale</div>
                                                </span>
                                             </li>
                                             <li class="d-flex">
                                                <i class="far fa-check text-success"></i>
                                                <span>
                                                   Earn more selling prints
                                                   <div class="small text-gray">Earn an additional 5% on the base price</div>
                                                </span>
                                             </li>
                                             <li><i class="far fa-check text-success"></i>Pro Analytics</li>
                                             <li><i class="far fa-check text-success"></i>Appear at the top of searches</li>
                                             <li><i class="far fa-check text-success"></i>Resbrotherx Pro badge</li>
                                          </ul>
                                          <div class="about-pricing-btn">
                                             <a class="btn btn-success btn-premium-plan btn-lg btn-block text-uppercase" href="registration/signinc21e.html?type=annual">Sign up</a>
                                             <div class="about-text-smaller text-light text-center">15-day money back guarantee</div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="about-text-smaller text-center font-weight-light"><a href="subscribe/compare.html">What&#39;s the difference between Free, Plus and Pro?</a></div>
                     <div class="about-footer-credit"><a class="about-footer-credit-link" target="_blank" href="raphael-lacoste.html">Artwork by Raphael Lacoste</a></div>
                     <div class="separator-lg"></div>
                     <div class="separator-lg"></div>
                     <div class="separator"></div>
                     <a class="btt scrolltoel" target="_self" href="#top"><span class="icomoon icon-arrow-top"></span></a>
                  </div>
                  <script>$(document).ready(function() {
                     var backToTop = $('.btt');
                     
                     waypointEl = new Waypoint({
                       element: backToTop,
                       offset: '-50%',
                       handler: function(direction) {
                         backToTop.toggleClass('stuck');
                       }
                     });
                     
                     });
                  </script>
               </div>
            </div>
            <script>$(document).ready(function() {
               $('.trigger-slider').slick({
                 fade: true,
                 arrows: false,
                 dots: true,
                 autoplay: true,
                 autoplaySpeed: 4000,
                 pauseOnFocus: false,
                 pauseOnHover: false
               })
               
               });
            </script>
            <div class="separator-lg"></div>
         </div>
     {% include 'footer.html'%}