{% load static %}


 {% include "script.html" %}
{% include "navbar.html" %}
         <div class="wrapper-main">
            <div class="subscribe-intro">
               <div class="container text-center">
                  <div class="row">
                     <div class="col-md-8 col-md-offset-2">
                        <div class="separator-lg"></div>
                        <p class="lead text-uppercase text-primary font-weight-medium">Subscribe</p>
                        <h1>Take your Art to the <strong>Next&nbsp;Level</strong></h1>
                        <p class="lead">With Resbrotherx premium subscriptions, get everything you need to help grow your skills, build your presence and advance your&nbsp;career.</p>
                     </div>
                  </div>
               </div>
               <div class="subscribe-intro-credit"><a class="subscribe-intro-credit-link" href="espfeiffer">Artwork by Eric Pfeiffer</a></div>
               <div class="separator"></div>
               <div class="container">
                  <div class="subscribe-plan-grid">
                     <div class="subscribe-plan-card shine-element-toggle">
                        <div class="subscribe-plan-card-popular hide"></div>
                        <div class="text-center">
                           <span class="plus-badge plus-badge-g pro-badge-xl shine-element">
                              <div class="shine">
                                 <div class="shine-x"></div>
                                 <div class="shine-y"></div>
                              </div>
                              Plus
                           </span>
                           <div class="available">From $<span class='text-white'>6.99</span>/mo</div>
                        </div>
                        <ul class="subscribe-plan-list">
                           <li class="subscribe-plan-list-item">
                              <div class="subscribe-plan-list-icon"><i class="far fa-infinity text-primary"></i></div>
                              <div class="flex-grow-1">
                                 <div class="font-weight-medium text-white">Resbrotherx Learning</div>
                                 <small class="text-small">Unlimited learning from industry&nbsp;experts.</small>
                              </div>
                           </li>
                           <li class="subscribe-plan-list-item">
                              <div class="subscribe-plan-list-icon"><i class="far fa-browser text-primary"></i></div>
                              <div class="flex-grow-1">
                                 <div class="font-weight-medium text-white">Portfolio Website</div>
                                 <small class="text-small">Set up your web presence! Beautiful, customizable themes, domain names, prints & digital store and&nbsp;more.</small>
                              </div>
                           </li>
                           <li class="subscribe-plan-list-item">
                              <div class="subscribe-plan-list-icon"><i class="far fa-book text-primary"></i></div>
                              <div class="flex-grow-1">
                                 <div class="font-weight-medium text-white">Blogs</div>
                                 <small class="text-small">Share articles, updates, WIPs and announcements to the&nbsp;community.</small>
                              </div>
                           </li>
                           <li class="subscribe-plan-list-item more"><span>and more...</span></li>
                        </ul>
                        <a class="btn btn-plus btn-block btn-md" href="registration/signinfbdf.html">Subscribe to <strong>Plus</strong></a>
                        <div class="separator"></div>
                        <div class="text-center"><a href="subscribe/plus.html">Discover the <strong>Plus</strong> Plan</a></div>
                     </div>
                     <div class="subscribe-plan-card animate-glare-toggle">
                        <div class="subscribe-plan-card-popular hide"></div>
                        <div class="text-center">
                           <span class="pro-badge pro-badge-g pro-badge-xl animate-glare">Pro</span>
                           <div class="available">From $<span class='text-white'>9.95</span>/mo</div>
                           <div class="text-muted">Everything in Plus</div>
                        </div>
                        <ul class="subscribe-plan-list">
                           <li class="subscribe-plan-list-item">
                              <div class="subscribe-plan-list-icon"><i class="far fa-user-chart text-primary"></i></div>
                              <div class="flex-grow-1">
                                 <div class="font-weight-medium text-white">More Visibility</div>
                                 <small class="text-small">Appear at the top of searches. Pro badge.</small>
                              </div>
                           </li>
                           <li class="subscribe-plan-list-item">
                              <div class="subscribe-plan-list-icon"><i class="far fa-hand-holding-usd text-primary"></i></div>
                              <div class="flex-grow-1">
                                 <div class="font-weight-medium text-white">Earn More</div>
                                 <small class="text-small">Earn up to 95% selling digital products and additional 5% of the base price on&nbsp;prints.</small>
                              </div>
                           </li>
                           <li class="subscribe-plan-list-item">
                              <div class="subscribe-plan-list-icon"><i class="far fa-chart-bar text-primary"></i></div>
                              <div class="flex-grow-1">
                                 <div class="font-weight-medium text-white">Pro Analytics</div>
                                 <small class="text-small">Track your performance and see who viewed your&nbsp;profile.</small>
                              </div>
                           </li>
                           <li class="subscribe-plan-list-item more"><span>and more...</span></li>
                        </ul>
                        <a class="btn btn-primary btn-block btn-md" href="registration/signinc21e.html">Subscribe to <strong>Pro</strong></a>
                        <div class="separator"></div>
                        <div class="text-center"><a href="subscribe/pro.html">Discover the <strong>Pro</strong> Plan</a></div>
                     </div>
                  </div>
                  <div class="separator-lg"></div>
                  <div class="d-flex flex-column flex-sm-row align-items-center justify-content-center text-center text-sm-left">
                     <div class="subscribe-plan-feature-icon"><i class="far fa-users"></i></div>
                     <div>
                        <p class="mb0 text-white font-weight-medium">Interested in multiple subscriptions for your school or&nbsp;team?</p>
                        <p class="mb0">Please <a class="track-event-mtm" data-action="click" data-category="subscribe" data-label="team_subscription" target="_blank" href="mailto:groupaccounts@Resbrotherx.com">contact us</a> for more information on groups of 20 or&nbsp;more.</p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="container">
               <div class="separator-lg"></div>
               <div class="separator-lg"></div>
               <div class="subscribe-testimonials trigger-testimonials">
                  <div class="subscribe-testimonials-item">
                     <div class="about-quote-block-wrap d-flex align-items-center align-items-sm-start flex-wrap">
                        <div class="about-quote-block-avatar order-2 order-sm-1"><img width="62" height="62" alt="Jonas Ronnegard" class="img-circle" src="{% static 'assets/marketing/quotes/photo-jonas-5b6993f22d01799da807d1181ec59b64.jpg' %}" /></div>
                        <div class="about-quote-block flex-shrink-1 flex-grow-0 order-1 order-sm-2">I like the idea of keeping as much as possible in one place and to grow my following together with my store sounded ideal to me. Resbrotherx already had the perfect demographic of people for my type of products coming to their site daily, so it was a no brainer for me to join. Rather, it would be a loss for me not to.</div>
                        <div class="about-quote-block-meta order-2 order-sm-3 flex-sm-grow-1">
                           <div class="about-quote-block-author">Jonas Ronnegard <span class="dark-badge">Pro</span></div>
                           <div class="about-quote-block-position">3D Artist</div>
                        </div>
                     </div>
                  </div>
                  <div class="subscribe-testimonials-item">
                     <div class="about-quote-block-wrap d-flex align-items-center align-items-sm-start flex-wrap">
                        <div class="about-quote-block-avatar order-2 order-sm-1"><img width="62" height="62" alt="Pauline Voss" class="img-circle" src="{% static 'assets/marketing/quotes/photo-pauline-690fe008adcd839963ec2b1da72dd8ee.jpg' %}" /></div>
                        <div class="about-quote-block flex-shrink-1 flex-grow-0 order-1 order-sm-2">My favourite Resbrotherx Pro feature is being able to customize my own website and the options are beautiful. I love the simplicity in usage as well as in design. This way I can kill two birds with one stone instead of having to deal with additional providers.</div>
                        <div class="about-quote-block-meta order-2 order-sm-3 flex-sm-grow-1">
                           <div class="about-quote-block-author">Pauline Voß <span class="dark-badge">Pro</span></div>
                           <div class="about-quote-block-position">Freelance artist</div>
                        </div>
                     </div>
                  </div>
                  <div class="subscribe-testimonials-item">
                     <div class="about-quote-block-wrap d-flex align-items-center align-items-sm-start flex-wrap">
                        <div class="about-quote-block-avatar order-2 order-sm-1"><img width="62" height="62" alt="Richard Wright" class="img-circle" src="{% static 'assets/marketing/quotes/photo-richard-729bd67f692d97607cfb2f9536cbb245.jpg' %}" /></div>
                        <div class="about-quote-block flex-shrink-1 flex-grow-0 order-1 order-sm-2">I like that it has everything in one place – website, store, blog, and community – it’s also better value and so easy to set up!</div>
                        <div class="about-quote-block-meta order-2 order-sm-3 flex-sm-grow-1">
                           <div class="about-quote-block-author">Richard Wright <span class="dark-badge">Pro</span></div>
                           <div class="about-quote-block-position">Freelance Concept Artist</div>
                        </div>
                     </div>
                  </div>
                  <div class="subscribe-testimonials-item">
                     <div class="about-quote-block-wrap d-flex align-items-center align-items-sm-start flex-wrap">
                        <div class="about-quote-block-avatar order-2 order-sm-1"><img width="62" height="62" alt="Borislav Miktov" class="img-circle" src="{% static 'assets/marketing/quotes/photo-borislav-f8ec754eeb2813deeb65cd9826d59b63.jpg' %}" /></div>
                        <div class="about-quote-block flex-shrink-1 flex-grow-0 order-1 order-sm-2">I used to have to manage my own website, blog, and social media galleries and it was a tedious, annoying job. At some point I realized that most of my clients and offers were coming from Resbrotherx so I decided to go ‘Pro’ and deleted my previous website. It’s much easier to manage, communicate and find all the necessary info on everything art related.</div>
                        <div class="about-quote-block-meta order-2 order-sm-3 flex-sm-grow-1">
                           <div class="about-quote-block-author">Borislav Miktov <span class="dark-badge">Pro</span></div>
                           <div class="about-quote-block-position">Freelance Concept Artist</div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="separator-lg"></div>
               <div class="separator-lg"></div>
               <h2 class="text-center font-weight-medium">Compare Features and Choose a Plan</h2>
               <div class="separator-lg"></div>
               <div class="table-responsiveness">
                  <table class="table table-features">
                     <colgroup>
                        <col width="40%" />
                        <col width="20%" />
                        <col width="20%" />
                        <col width="20%" />
                     </colgroup>
                     <thead>
                        <tr class="tr-plans">
                           <th class="empty-cell"></th>
                           <th class="text-center">
                              <div class="table-features-free">Free</div>
                           </th>
                           <th class="text-center">
                              <span class="plus-badge plus-badge-g pro-badge-lg">Plus</span>
                              <div class="separator"></div>
                              <div class="lead mb0">$6.99/mo</div>
                           </th>
                           <th class="text-center">
                              <span class="pro-badge pro-badge-g pro-badge-lg">Pro</span>
                              <div class="separator"></div>
                              <div class="lead mb0">$9.95/mo</div>
                           </th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr>
                           <td>Showcase your portfolio</td>
                           <td class="text-center"><span class="far fa-check text-success"></span></td>
                           <td class="text-center"><span class="far fa-check text-success"></span></td>
                           <td class="text-center"><span class="far fa-check text-success"></span></td>
                        </tr>
                        <tr>
                           <td>Your own personal portfolio website at [username].Resbrotherx.com</td>
                           <td class="text-center">
                              <span class="far fa-check text-success"></span>
                              <div class="text-small text-muted">Basic Theme only</div>
                           </td>
                           <td class="text-center">
                              <span class="far fa-check text-success"></span>
                              <div class="text-small text-muted">Premium Themes<br>and&nbsp;customisation</div>
                           </td>
                           <td class="text-center">
                              <span class="far fa-check text-success"></span>
                              <div class="text-small text-muted">Premium Themes<br>and&nbsp;customisation</div>
                           </td>
                        </tr>
                        <tr>
                           <td>Sell prints of your artwork</td>
                           <td>
                              <span class="far fa-check text-success"></span>
                              <div class="text-small text-muted">Choose your own Markup</div>
                           </td>
                           <td class="text-center">
                              <span class="far fa-check text-success"></span>
                              <div class="text-small text-muted">Choose your own Markup</div>
                           </td>
                           <td class="text-center">
                              <span class="far fa-check text-success"></span>
                              <div class="text-small text-muted">Choose your own Markup<br />+5% of the Base Price in earnings</div>
                           </td>
                        </tr>
                        <tr>
                           <td>
                              Sell digital products on the Marketplace
                              <div class="text-small text-muted">(tutorials, brushes, 3D models, game assets…)</div>
                           </td>
                           <td>
                              <span class="far fa-check text-success"></span>
                              <div class="text-small text-muted">70% of Revenue</div>
                           </td>
                           <td class="text-center">
                              <span class="far fa-check text-success"></span>
                              <div class="text-small text-muted">70% of Revenue</div>
                           </td>
                           <td class="text-center">
                              <span class="far fa-check text-success"></span>
                              <div class="text-small text-muted">80-95% of Revenue</div>
                           </td>
                        </tr>
                        <tr>
                           <td>Unlimited access to Resbrotherx Learning</td>
                           <td></td>
                           <td class="text-center"><span class="far fa-check text-success"></span></td>
                           <td class="text-center"><span class="far fa-check text-success"></span></td>
                        </tr>
                        <tr>
                           <td>
                              Use your own domain name on your Resbrotherx powered website
                              <div class="text-small text-muted">(Purchased separately)</div>
                           </td>
                           <td></td>
                           <td class="text-center"><span class="far fa-check text-success"></span></td>
                           <td class="text-center"><span class="far fa-check text-success"></span></td>
                        </tr>
                        <tr>
                           <td>
                              Full control over the display of your portfolio
                              <div class="text-small text-muted">Decide which projects and Albums to show on your website and community</div>
                           </td>
                           <td></td>
                           <td class="text-center"><span class="far fa-check text-success"></span></td>
                           <td class="text-center"><span class="far fa-check text-success"></span></td>
                        </tr>
                        <tr>
                           <td>4K Images &amp; Video Clips</td>
                           <td></td>
                           <td class="text-center"><span class="far fa-check text-success"></span></td>
                           <td class="text-center"><span class="far fa-check text-success"></span></td>
                        </tr>
                        <tr>
                           <td>Create or import your own Blog</td>
                           <td></td>
                           <td class="text-center"><span class="far fa-check text-success"></span></td>
                           <td class="text-center"><span class="far fa-check text-success"></span></td>
                        </tr>
                        <tr>
                           <td>Password protect pages on your website</td>
                           <td></td>
                           <td class="text-center"><span class="far fa-check text-success"></span></td>
                           <td class="text-center"><span class="far fa-check text-success"></span></td>
                        </tr>
                        <tr>
                           <td>
                              Priority support
                              <div class="text-small text-muted">We respond to you before anyone else</div>
                           </td>
                           <td></td>
                           <td class="text-center"><span class="far fa-check text-success"></span></td>
                           <td class="text-center"><span class="far fa-check text-success"></span></td>
                        </tr>
                        <tr>
                           <td>
                              Badge
                              <div class="text-small text-muted">Be instantly identified as a Plus member or Pro in the community</div>
                           </td>
                           <td></td>
                           <td class="text-center"><span class="far fa-check text-success"></span></td>
                           <td class="text-center"><span class="far fa-check text-success"></span></td>
                        </tr>
                        <tr>
                           <td>Advanced analytics and tracking</td>
                           <td></td>
                           <td></td>
                           <td class="text-center"><span class="far fa-check text-success"></span></td>
                        </tr>
                        <tr>
                           <td>Appear at top of searches</td>
                           <td></td>
                           <td></td>
                           <td class="text-center"><span class="far fa-check text-success"></span></td>
                        </tr>
                        <tr>
                           <td>Hide Ads</td>
                           <td></td>
                           <td></td>
                           <td class="text-center"><span class="far fa-check text-success"></span></td>
                        </tr>
                        <tr>
                           <td>
                              Seller Coupons
                              <div class="text-small text-muted">Create your own coupons on the marketplace</div>
                           </td>
                           <td></td>
                           <td></td>
                           <td class="text-center"><span class="far fa-check text-success"></span></td>
                        </tr>
                     </tbody>
                     <tbody aria-expanded="false" class="collapse" id="all-features">
                        <tr>
                           <td>SSL/HTTPS support on your domain name</td>
                           <td></td>
                           <td class="text-center"><span class="far fa-check text-success"></span></td>
                           <td class="text-center"><span class="far fa-check text-success"></span></td>
                        </tr>
                        <tr>
                           <td>Custom CSS on themes</td>
                           <td></td>
                           <td class="text-center"><span class="far fa-check text-success"></span></td>
                           <td class="text-center"><span class="far fa-check text-success"></span></td>
                        </tr>
                        <tr>
                           <td>Add Google Analytics to your website</td>
                           <td></td>
                           <td class="text-center"><span class="far fa-check text-success"></span></td>
                           <td class="text-center"><span class="far fa-check text-success"></span></td>
                        </tr>
                        <tr>
                           <td>Use custom Favicon on user website</td>
                           <td></td>
                           <td class="text-center"><span class="far fa-check text-success"></span></td>
                           <td class="text-center"><span class="far fa-check text-success"></span></td>
                        </tr>
                        <tr>
                           <td>Customize website social sharing texts and image</td>
                           <td></td>
                           <td class="text-center"><span class="far fa-check text-success"></span></td>
                           <td class="text-center"><span class="far fa-check text-success"></span></td>
                        </tr>
                        <tr>
                           <td>Website Contact Form</td>
                           <td></td>
                           <td class="text-center"><span class="far fa-check text-success"></span></td>
                           <td class="text-center"><span class="far fa-check text-success"></span></td>
                        </tr>
                        <tr>
                           <td>Featured Album - Select a default / featured album to use on your community profile</td>
                           <td></td>
                           <td class="text-center"><span class="far fa-check text-success"></span></td>
                           <td class="text-center"><span class="far fa-check text-success"></span></td>
                        </tr>
                        <tr>
                           <td>Larger Marmoset Viewer uploads (up to 50MB)</td>
                           <td></td>
                           <td class="text-center"><span class="far fa-check text-success"></span></td>
                           <td class="text-center"><span class="far fa-check text-success"></span></td>
                        </tr>
                        <tr>
                           <td>PDF upload on your resume profile</td>
                           <td></td>
                           <td class="text-center"><span class="far fa-check text-success"></span></td>
                           <td class="text-center"><span class="far fa-check text-success"></span></td>
                        </tr>
                        <tr>
                           <td>Partner Perks</td>
                           <td></td>
                           <td class="text-center"><span class="far fa-check text-success"></span></td>
                           <td class="text-center"><span class="far fa-check text-success"></span></td>
                        </tr>
                     </tbody>
                     <tfoot>
                        <tr class="tr-summary">
                           <td class="empty-cell">
                              <a class="btn btn-link btn-more collapsed" data-toggle="collapse" href="#all-features">
                                 <div class="active">See full list</div>
                                 <div class="inactive">Show less</div>
                              </a>
                           </td>
                           <td class="text-muted text-center">There will always<br>be a free edition</td>
                           <td class="td-button text-center"><a class="btn btn-default btn-block" href="registration/signinfbdf.html?type=annual">Choose this plan</a></td>
                           <td class="td-button text-center"><a class="btn btn-primary btn-block" href="registration/signinc21e.html?type=annual">Choose this plan</a></td>
                        </tr>
                     </tfoot>
                  </table>
               </div>
            </div>
            <script>$(document).ready(function() {
               $('.trigger-testimonials').slick({
                 arrows: true,
                 slidesToShow: 2,
                 prevArrow: '<button type="button" class="slick-arrow slick-prev"><i class="far fa-chevron-left"></i></button>',
                 nextArrow: '<button type="button" class="slick-arrow slick-next"><i class="far fa-chevron-right"></i></button>',
                 responsive: [
                   {
                     breakpoint: 767,
                     settings: {
                       slidesToShow: 1,
                       slidesToScroll: 1
                     }
                   }
                 ]
               })
               
               })
            </script>
            <div class="separator-lg"></div>
         </div>
       {% include 'footer.html'%}